/* Universal link colours */
a,
a:visited {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  color: #21a1f1;
  text-decoration: underline;
}

hr {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
